{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h4>请登录</h4>
                </div>
                {{ wtf.quick_form(form) }}
                <div class="page-header">

                </div>
                <p>没有账户?</p>
                <span><a href="{{ url_for('auth.register') }}">点击这里注册</a></span>
            </div>
            <div class="col-md-4">


            </div>
        </div>
    </div>

{% endblock %}