{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/awesome-bootstrap-checkbox.css')}}"/>
{% endblock %}

{% block content %}
    {{ super() }}

    <form class="form" role="form" method="post">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-push-4">
                        <p class="lead">{{ answer.order_id }}.&nbsp{{ answer.question.title }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-push-4">
                        {{ form.hidden_tag() }}
                        {% for subfield in form.answer_choice %}
                            <div class="radio radio-danger">
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </div>
                        {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="navbar col-xs-8 col-xs-push-4 col-sm-4 col-sm-push-4">
                    {% if test.is_completed %}
                        <a href="{{ url_for('main.compelete',test_id=test.id) }}" class="btn btn-success">提交</a>
                    {% else %}
                        <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

{% endblock %}